@{ ViewBag.Title = "Add Menu";}
@using CheeseMVC.ViewModels
@model AddMenuViewModel

<form asp-controller="menu" asp-action="add" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <input type="submit" value="Add Menu" />
</form>