@using CheeseMVC.ViewModels
@model AddMenuItemViewModel

@{ ViewBag.Title = $"Add Item To Menu: {Model.Menu.Name} ";}

<form asp-controller="menu" asp-action="additem" method="post">
    <div class="form-group">
        <label asp-for="CheeseId"></label>
        <select class="form-group" asp-for="CheeseId" asp-items="@Model.Cheeses"></select>
        <span asp-validation-for="CheeseId"></span>
    </div>
    <input type="hidden" name="MenuId" value="@Model.Menu.ID" />

    <input type="submit" value="Add Item" />
</form>